.container {
  margin-top: 164px;
  margin-left: 112px;
}

.title {
  font-weight: 600;
  font-size: 4rem;
  padding-bottom: 2rem;
}
.subtitle {
  font-weight: 600;
  font-size: 1.875rem;
  padding: 1.5rem 0;
}
.intro {
  font-size: 1.25rem;
  max-width: 53rem;
}
.question {
  font-weight: 400;
  font-size: 1.4rem; /* 24px */
  padding: 3.5rem 0 1.5rem 0;
}

label {
  font-weight: 500;
  cursor: pointer;
}

.input,
.textarea {
  display: flex;
  flex-direction: column;
  border: thin solid var(--neutral-600);
  border-radius: 5px;
  height: 40px;
  width: 100%;
  max-width: 59rem;
  padding-left: 1rem;
  font-family: Poppins;
}
.textarea {
  height: 148px;
  max-width: 68rem;
  padding-top: 1rem;
}
.input:focus,
.textarea:focus {
  outline-style: none;
  box-shadow: var(--shadow-4);
}

.carImg {
  float: right;
  height: 400px;
  width: 650px;
  object-fit: cover;
}
