*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

/* ======
Scrollbar 
=======*/
::-webkit-scrollbar {
  width: 1.5em;
}
::-webkit-scrollbar-track {
  background-color: none;
}
::-webkit-scrollbar-thumb {
  background-color: #676666bf;
  border-radius: 100px;
  height: 20%;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* ======
Vars 
=======*/
:root {
  /* colors */
  --primary-300: #e9f6ef;
  --primary-400: #91b49599;
  --primary: #91b495;
  --accent: #aaedd1;
  --secondary-400: #375838;
  --secondary: #2f4c30;
  --secondary-600: #2f4c3066;
  --neutral: #ececee;
  --neutral-600: #aeacac;
  --modal: #00000066;
  --danger-400: #c8522c;
  --danger: #c23f15;
  --warning-300: #fbedbb;
  --warning-400: #ffdd66;
  --warning-600: #a07e00;
  --black: #000000;
  --white: #fff;
  /* fonts */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--white);
  /* --backgroundColor: var(--neutral); */
  --textColor: var(--black);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1100px;
  --fixed-width: 600px;
  --view-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(55, 88, 56, 0.1),
    0 10px 10px -5px rgba(55, 88, 56, 0.726);
}

body {
  font-family: Poppins;
  font-weight: 500;
  background: var(--backgroundColor);
  height: 100%;
}

/* ======
Inputs
====== */
input[type="file"] {
  display: none;
}

/* ======
Button animations
====== */
.button {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.button:hover {
  transform: translateY(-0.25em);
}
.button:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* ======
Link animations
====== */
.links {
  display: inline-block;
  position: relative;
}
.links:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.75px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
.links:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
